<h2>Here you can create a new reason why SQL makes you HATE.</h2>

<form action="/reasons" method="POST"></form>

  <p>
    <label for="">Reason: </label>
    <input type="text" name="reason">
  </p>

  <p>
    <label for="">Description:</label>
  </p>
  <p>
    <input id="input" type="text" name="description">
  </p>

  <input type="submit" value="Submit a reason">

</form>
