<h1>This is the HATE page</h1>

  <p>This contains the crumbs of HATE that can, one day, be baked into a HATECAKE. This cake will be passed out during a childs party where all will be well until all the children die from a HATE overdose such is the power of SQL</p>
