<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reasons to hate SQL</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <nav>
  	<a href="/">Home</a>
  	<a href="/reasons">Reasons List</a>
  	<a href="/reasons/new">Create a reason</a>
  </nav>

  <h1>Why I hate SQL database</h1>
  <h3>by Tomas Haffs, age 33</h3>

  <div class="container">
  	<%= yield %>
  </div>

  <script src="/main.js"></script>
  </body>
  </html>
