<h1><%= @song.name %></h1>

<div class="controls">
  <%= link_to "Edit #{@song.name}", "/songs/#{@song.id}/edit" %>
  <%= link_to "Delete #{@song.name}", "/songs/#{@song.id}",
  :method => :delete, :data => {:confirm => "Are you sure?"}%>

</div>

<hr>
